In [1]:
#Import MongoDB and accessing the connection url (in config)

from config import Mongouri
import pymongo
import pandas as pd

In [4]:
# !pip install dnspython

In [5]:
#Connecting to MongoDB Atlas server.  Accessing the ML_Speed_Dating database

client = pymongo.MongoClient(Mongouri)
db = client.ML_Speed_Dating

In [6]:
#function to convert 3 columns from string to int
#mn_sat, tution, income

def string_to_number(val):
    return int(''.join(filter(str.isdigit, val)))

In [7]:
#reading in csv used to run ML and prepping to load into MongoDB
#convert to df, dropped NA
#mapped through 3 columns to ensure no string values

df = pd.read_csv("./Data/3_ML_Dry_Run.csv")
df = df.dropna()
df["mn_sat"] = df["mn_sat"].map(string_to_number)
df["tuition"] = df["tuition"].map(string_to_number)
df["income"] = df["income"].map(string_to_number)


df_list = df.to_dict("record")
df.head()

,gender,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
0,0,4,0,0.14,0,27.0,2.0,35.0,20.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
1,0,3,0,0.54,0,22.0,2.0,60.0,0.0,0.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
2,0,10,1,0.16,1,22.0,4.0,19.0,18.0,19.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
3,0,5,1,0.61,0,23.0,2.0,30.0,5.0,15.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
4,0,7,1,0.21,0,24.0,3.0,30.0,10.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0

In [8]:
#loading general data collection to MongoDB


for row in df_list:
    db.General_Data.insert_one(row)

In [9]:
#Prepping features of importance to load to MongoDB
#csv to df
#df to list of dict

df2 = pd.read_csv("./Data/Combined_features_Importance.csv")
df2_list = df2.to_dict("record")
df2.head()

   Feature_Percentage           Feature
0             12.6873       dec_partner
1              3.3651  likeness_partner
2              3.0642  partner_says_yes
3              3.0541   shar_of_partner
4              3.0391       sim_int_pct

In [10]:
#loading combined features of importance to MongoDB

for row in df2_list:
    db.Combined_features_Importance.insert_one(row)

In [11]:
df_male = pd.read_csv("./Data/male_features_Importance.csv")
df_male_list = df2.to_dict("record")
df_male.head()

   Feature_Percentage           Feature
0             14.3250       dec_partner
1              4.5611  partner_says_yes
2              3.7324  likeness_partner
3              3.5101    fun_of_partner
4              2.9413       sim_int_pct

In [12]:
df_female = pd.read_csv("./Data/female_features_Importance.csv")
df_female_list = df2.to_dict("record")
df_female.head()

   Feature_Percentage               Feature
0              9.2995           dec_partner
1              3.4824      partner_says_yes
2              3.2413           sim_int_pct
3              3.0146  overall_attr_partner
4              2.9914       shar_of_partner

In [13]:
#loading male features of importance to MongoDB

for row in df_male_list:
    db.Male_features_Importance.insert_one(row)

In [14]:
#loading female features of importance to MongoDB


for row in df_female_list:
    db.Female_features_Importance.insert_one(row)