In [1]:
#Import required models

from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [2]:
#Import csv file

filepath = "./Data/3_ML_Dry_Run.csv"
df = pd.read_csv(filepath)
# df = pd.read_csv(os.path.join("Data", "Speed_Dating_Data_columns.csv"))
df

,gender,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
0,0,4,0,0.14,0,27.0,2.0,35.0,20.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
1,0,3,0,0.54,0,22.0,2.0,60.0,0.0,0.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
2,0,10,1,0.16,1,22.0,4.0,19.0,18.0,19.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
3,0,5,1,0.61,0,23.0,2.0,30.0,5.0,15.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
4,0,7,1,0.21,0,24.0,3.0,30.0,10.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,5,0,0.64,0,26.0,3.0,10.0,10.0,30.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8374,1,4,0,0.71,0,24.0,6.0,50.0,20.0,10.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8375,1,10,0,-0.46,0,29.0,3.0,40.0,10.0,30.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8376,1,16,0,0.62,0,22.0,4.0,10.0,25.0,25.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8377,1,15,0,0.01,0,22.0,4.0,20.0,20.0,10.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0

In [3]:
#Checking to see where the NA values are.  Gender is only 0 or 1.

df.groupby("gender").count()

,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,pref_fun,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
gender,,,,,,,,,,,,,,,,,,,,,
0,4184,4184,4105,4184,4155,4164,4164,4164,4164,4155,...,4125,4125,4125,4125,4125,4125,4125,4125,4125,4103
1,4194,4194,4115,4194,4119,4141,4125,4125,4125,4125,...,4174,4174,4174,4174,4174,4174,4174,4174,4174,4174

In [4]:
#Dropping NA values and expanding undergra column using get_dummies
#https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html

df2 = df.dropna()
df2 = pd.get_dummies(df2, columns = ["undergra"])

In [5]:
#function created to map through three columns and convert all the strings values to numberic values
#The 3 columns are 1)mn_sat, 2)tuition, 3)income

def string_to_number(val):
    return int(''.join(filter(str.isdigit, val)))

In [6]:
#mapping through the columns

df2["mn_sat"] = df2["mn_sat"].map(string_to_number)

In [7]:
#mapping through the columns

df2["tuition"] = df2["tuition"].map(string_to_number)

In [8]:
#mapping through the columns

df2["income"] = df2["income"].map(string_to_number)

In [63]:
#separating based on gender to see if the priorites changed between male and female

df_male = df2.loc[df2["gender"]==1]
df_female = df2.loc[df2["gender"]==0]
# male_female
# df_female

In [64]:
#prepping for model.  X represents inputs. y represents the target
#first set is all the data together, then individual male and female


X = df2.drop(columns = 'match')
y = df2["match"]
X_male = df_male.drop(columns = ['match' , "gender"])
y_male = df_male["match"]
X_female = df_female.drop(columns = ['match' , "gender"])
y_female = df_female["match"]

In [65]:
# X_male_train["gender"]

In [66]:
#Splitting data into training and testing sets

X_male_train, X_male_test, y_male_train, y_male_test = train_test_split(X_male, y_male, random_state=42)
X_female_train, X_female_test, y_female_train, y_female_test = train_test_split(X_female, y_female, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [68]:
#Training the model (combined data set)

rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8535825545171339

In [69]:
#Training the model (male set)

rf_male = RandomForestClassifier(n_estimators=200)
rf_male = rf_male.fit(X_male_train, y_male_train)
rf_male.score(X_male_test, y_male_test)

0.8691099476439791

In [70]:
#Training the model (female data set)

rf_female = RandomForestClassifier(n_estimators=200)
rf_female = rf_female.fit(X_female_train, y_female_train)
rf_female.score(X_female_test, y_female_test)

0.8509142053445851

In [12]:
#Do not use - used for troubleshooting 

### pd.set_option('display.max_columns', None)
### pd.set_option('display.max_rows', None)
#df2.dtypes

gender                                            int64
order                                             int64
match                                             int64
sim_int_pct                                     float64
samerace                                          int64
                                                 ...
undergra_u of southern california, economics      uint8
undergra_ucla                                     uint8
undergra_umass                                    uint8
undergra_university of pennsylvania               uint8
undergra_wellesley college                        uint8
Length: 187, dtype: object

In [28]:
#function created to map through the feature % column and rounded to 6 decimal places

def round_Feature (x):
    return round(x,6)*100

In [71]:
#creating df and mapping through the feature % col using the function above  (top 52 features)

features_of_importance = sorted(zip(rf.feature_importances_, X.columns), reverse=True)
feature_df = pd.DataFrame(features_of_importance, columns=["Feature_Percentage" , "Feature"])
feature_df["Feature_Percentage"] = feature_df["Feature_Percentage"].map(round_Feature)
feature_df = feature_df.head(52)
feature_df

    Feature_Percentage                Feature
0              11.9618            dec_partner
1               3.3816       partner_says_yes
2               3.3337       likeness_partner
3               3.2588   overall_attr_partner
4               3.2230        shar_of_partner
5               3.0780            sim_int_pct
6               2.7915         fun_of_partner
7               2.5435                  order
8               2.3934         pref_sincerity
9               2.3768               pf_o_att
10              2.3489        pref_shared_int
11              2.2803           pref_ambiton
12              2.2663               pref_fun
13              2.1423            age_partner
14              2.1060            Pref_intell
15              1.7510                 income
16              1.7457       intel_of_partner
17              1.7349         amb_of_partner
18              1.6938        sinc_of_partner
19              1.5890               field_cd
20              1.5726            age_subject
21              1.5036                 sports
22              1.4866               tvsports
23              1.4479               concerts
24              1.4414               exercise
25              1.4287                 hiking
26              1.3767               clubbing
27              1.3658                   yoga
28              1.3552                imprace
29              1.3262               shopping
30              1.3182                 gaming
31              1.3110                  music
32              1.3101                     tv
33              1.2687  exphappy_frm_spddting
34              1.2576                theater
35              1.2527                   date
36              1.2522           race_partner
37              1.2352                    art
38              1.2259                museums
39              1.1817               career_c
40              1.1809               imprelig
41              1.1776             met_before
42              1.1697                 movies
43              1.1360                reading
44              1.1291                tuition
45              1.1132                 mn_sat
46              1.0738                 dining
47              0.8907                   goal
48              0.8748                   race
49              0.8235                 go_out
50              0.5830               samerace
51              0.4659                 gender

In [72]:
#convert to csv
feature_df.to_csv("./Data/Combined_features_Importance.csv", index=False)

In [78]:
#same process for male and female

male_features_of_importance = sorted(zip(rf_male.feature_importances_, X_male.columns), reverse=True)
male_feature_df = pd.DataFrame(male_features_of_importance, columns=["Feature_Percentage" , "Feature"])
male_feature_df["Feature_Percentage"] = male_feature_df["Feature_Percentage"].map(round_Feature)
male_feature_df = male_feature_df.head(51)
male_feature_df

    Feature_Percentage                Feature
0              14.3250            dec_partner
1               4.5611       partner_says_yes
2               3.7324       likeness_partner
3               3.5101         fun_of_partner
4               2.9413            sim_int_pct
5               2.9389   overall_attr_partner
6               2.7706        shar_of_partner
7               2.4842                  order
8               2.3117           pref_ambiton
9               2.2057            age_partner
10              2.2048               pf_o_att
11              2.1748        pref_shared_int
12              2.1272            Pref_intell
13              2.0991         pref_sincerity
14              2.0753               pref_fun
15              1.7800        sinc_of_partner
16              1.7730       intel_of_partner
17              1.7434         amb_of_partner
18              1.5578            age_subject
19              1.4539                 income
20              1.4511                   yoga
21              1.4260                 hiking
22              1.3830                     tv
23              1.3330                    art
24              1.3233                theater
25              1.3205               concerts
26              1.3183               clubbing
27              1.3116               field_cd
28              1.3046               exercise
29              1.3034                   date
30              1.2852               tvsports
31              1.2812                reading
32              1.2686  exphappy_frm_spddting
33              1.2639               shopping
34              1.2600                museums
35              1.2532                 sports
36              1.2499           race_partner
37              1.2492                 gaming
38              1.2460                  music
39              1.2168                imprace
40              1.1924                tuition
41              1.1205                 movies
42              1.0970               career_c
43              1.0910                 dining
44              0.9514                 mn_sat
45              0.9431               imprelig
46              0.9158             met_before
47              0.8438                 go_out
48              0.7945                   goal
49              0.7815                   race
50              0.6045               samerace

In [80]:
female_features_of_importance = sorted(zip(rf_female.feature_importances_, X_female.columns), reverse=True)
female_feature_df = pd.DataFrame(female_features_of_importance, columns=["Feature_Percentage" , "Feature"])
female_feature_df["Feature_Percentage"] = female_feature_df["Feature_Percentage"].map(round_Feature)
female_feature_df = female_feature_df.head(51)
female_feature_df

    Feature_Percentage                Feature
0               9.2995            dec_partner
1               3.4824       partner_says_yes
2               3.2413            sim_int_pct
3               3.0146   overall_attr_partner
4               2.9914        shar_of_partner
5               2.9724       likeness_partner
6               2.9636                  order
7               2.8131         fun_of_partner
8               2.7972         pref_sincerity
9               2.6925        pref_shared_int
10              2.6596           pref_ambiton
11              2.4462               pf_o_att
12              2.3787            age_partner
13              2.3257               pref_fun
14              2.2341            Pref_intell
15              1.9680         amb_of_partner
16              1.9435            age_subject
17              1.8616                 income
18              1.8314        sinc_of_partner
19              1.7743       intel_of_partner
20              1.5391               exercise
21              1.5360               clubbing
22              1.4973                imprace
23              1.4901               concerts
24              1.4738                 gaming
25              1.4588           race_partner
26              1.4544                 sports
27              1.4480               field_cd
28              1.4163                     tv
29              1.4018  exphappy_frm_spddting
30              1.3744                 hiking
31              1.3614               shopping
32              1.3451                theater
33              1.3395                   yoga
34              1.3213               imprelig
35              1.3147               tvsports
36              1.2416               career_c
37              1.2020                    art
38              1.1881                museums
39              1.1828                tuition
40              1.1515                reading
41              1.1416                 dining
42              1.1294                 mn_sat
43              1.1117                  music
44              1.0927                 movies
45              1.0889                   date
46              0.9657                   race
47              0.9549                   goal
48              0.9154                 go_out
49              0.8090             met_before
50              0.6158               samerace

In [81]:
#to csv
male_feature_df.to_csv("./Data/male_features_Importance.csv", index=False)

In [82]:
#to csv
female_feature_df.to_csv("./Data/female_features_Importance.csv", index=False)